---
layout: default
---

<nav id="navbar">
  <header>CS4SG Organization</header>
  <ul>
    <li><a class="nav-link" href="#Introduction">Introduction</a></li>
    <li><a class="nav-link" href="#add_info">Adding information to the website</a></li>
    <li><a class="nav-link" href="#forms">Forms</a></li>
    <li><a class="nav-link" href="https://cs4sg.github.io/resources.html" target="_blank">Resources</a></li>
    <li><a class="nav-link" href="https://docs.google.com/document/d/1_oJGjgSufz_YQ7Z0g6GItEA46z9770ZcZO6dj3ZuDnA/edit?usp=sharing" target="_blank">Website Architecture</a></li>
    <li><a class="nav-link" href="#creating_form">How to create a Form?</a></li>
    <li><a class="nav-link" href="#help">Help&nbsp;<i class="fa fa-question-circle"></i></a></li>
  </ul>
</nav>
<main id="main-doc">
  <section class="main-section" id="Introduction">
    <header>Introduction</header>
    <article>
      <p>
        Welcome to CS4SG. This guidebook will walk through different aspects of the 
        organization's website. For example- adding information or uploading data, how each section
        is build up, website's architecture, and how to make changes in the code.
      </p>
    </article>
  </section>
  <section class="main-section" id="add_info">
    <header>Adding information to the website</header>
    <article>
      <p>
        You might want to enter information to the website. For example, adding research projects or
        information about a new grant that CS4SG just received! Please follow the following steps to add
        those inforation to the website...
        <ul>
          <li>
            <h3>Select the form according to the catagory of information</h3>
            <p>You can find out the list of all the forms you can fill. Please select the suitable catagory of form and fill it out.</p>
            <a class="nav-link" href="#forms">Click here to see the links to all the forms.</a>
          </li>
          <li>
            <h3>Fill out the form and click on "Generate MD File"</h3>
            <p>
              Once you have filled out the form correctly, please recheck it and click on "Generate MD File".
              This will download a <strong>Markdown</strong> format file on your local device.
            </p>
            <center><a href="./assets/images/help_img1.jpg" target="_blank"><img src="./assets/images/help_img1.jpg" alt="Generate MD File Button Click" class="help_img"></a></center>
          </li>
          <li>
            <h3>Follow the prompts after form submission.</h3>
            <p>After you submit the form, a prompt will appear giving directions on "where to upload the file" you just downloaded.</p>
            <p>If the propmpt doesn't appear or you accidently refresh the page, here is a list of all the forms and their corresponding upload destinations:</p>
            <ol>
              {% for form in site.forms %}
                <li>{{ form.title }}: <a href="{{ form.upload }}" target="_blank">{{ form.upload }}</a></li>
              {% endfor %}
            </ol>
            <p>If you do not have access to upload the file to the destination folder, please contact <a href="mailto:cse-dept@buffalo.edu">cse-dept@buffalo.edu</a></p>
            <center><a href="./assets/images/help_img2.jpg" target="_blank"><img src="./assets/images/help_img2.jpg" alt="Steps after submitting the form" class="help_img"></a></center>
          </li>
          <li>
            <h3>You are all set!</h3>
            <p>Congrats! Your changes has been published on the CS4SG website.</p>
          </li>
        </ul>
      </p>
    </article>
  </section>
  <section class="main-section" id="forms">
    <header>Forms</header>
    <article>
      <p>
        Here are a list of all the forms you can fill:
      </p>
      <ol>
        {% for form in site.forms %}
          <li><a href="./{{ form.url }}" target="_blank">{{ form.title }}</a></li>
        {% endfor %}
      </ol>
    </article>
  </section>
  <section class="main-section" id="creating_form">
    <header>How to create a Form?</header>
    <article>
      <p>
        To create a form, please download the following template and follow the directions given below.<br/>
        <a href="form_template.html" download>Download Form Template&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
        <ul>
          <li>
            <h3>Entering Basic information about the form.</h3>
            <p>The top of form template contains the 3 basic information of the website.
              <code>
  ---
  <b>layout:</b>&nbsp;form&nbsp;<font style="color:white">&#8592;&nbsp;The layout type is form</font>
  <b>title:</b>&nbsp;<font style="color:white">&#8592;&nbsp;Enter the title of the form</font>
  <b>upload:</b>&nbsp;<font style="color:white">&#8592;&nbsp;Enter the url of the destination folder where completed form should be uploaded</font>
  ---
              </code>
            </p>
          </li>
          <li>
            <h3>Writing the HTML</h3>
            <p>
              <ol>
                <li>
                  <h4>Sorround your whole HTML code between &#60;div id="after_submission"&#62;&nbsp;...&nbsp;&#60;/div&#62;</h4>
              <code>
  &#60;div id="after_submission"&#62;
  .
  .
  .
  &#60;/div&#62;
              </code>
              </li>
              
              <li>
                <h4>HTML code to add a text / number / date / time / datetime-local / file etc. input</h4>
                <code>
  &#60;div&#62;
    &#60;input type="<font style="color:white">text / number / date / time / datetime-local / file etc.</font>" 
    id="<font style="color:white">The ID you want to provide</font>" 
    placeholder="<font style="color:white">The placeholder text</font>" 
    required= <font style="color:white">Use this attribute only if you want the field to be required. Type <b><i>"required"</i></b></font>
    /&#62;
  &#60;/div&#62;
                </code><br/>
                <b>Output:</b><br/><br/>
                <input type="text" id="sample" placeholder="some sample placeholder" required="required"/>
              </li>

              <li>
                <h4>HTML code to add a Select input</h4>
                <code>
  &#60;div&#62;
    &#60;select id="<font style="color:white">The ID you want to provide</font>"&#62;
      &#60;option selected value=""&#62;-- Select --&#60;/option&#62;
      &#60;option value="Option 1"&#62;Option 1&#60;/option&#62;
      &#60;option value="Option 2"&#62;Option 2&#60;/option&#62;
    &#60;/select&#62;
  &#60;/div&#62;
                </code><br/>
                <b>Output:</b><br/>
                <div>
                  <select id="sample_category">
                      <option selected value="">-- Select --</option>
                      <option value="Option 1">Option 1</option>
                      <option value="Option 2">Option 2</option>
                  </select>
              </div>
              </li>
              </ol>
            </p>
          </li>
          <li>
            <h3>Writing the JavaScript</h3>
            <p>here are some of the javascript functions that are used frequently in the forms. 
              Please tweak some of the information to make them functional in the form.</p>
              <p><font style="color:red">*</font>All JavaScript code should come between the <b><i>&#60;script&#62;&nbsp;...&nbsp;&#60;/script&#62;</i></b> Tags.</p>
                <ol>
                  <li>
                    <h4>The Window Reload Function</h4>
                    <p>Particularly used when you have <a href="#tags">tags</a> to display in your form.<br/>
                    <b>Use:&nbsp;</b>Reloads the page.
                    </p>
                    <code>
  window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
  }
                    </code>
                  </li>

                  <li>
                    <h4>Adding new external people</h4>
                    <code>
  <font style="color:white">
  // First define a new List. 
  // If you have an existing list where you want to add new people, 
  //you do not need to define a new one.

  var sample_list = []

  </font>
  function add_new(id, list_name, ul_name){
    var n = document.getElementById(id).value
    if(n != ""){
      eval(String(list_name)+".push('"+n+"')");
        var node = document.createElement("li");
        node.onclick = function() {this.parentNode.removeChild(this);};
        var textnode = document.createTextNode(n);
        node.appendChild(textnode);
        document.getElementById(ul_name).appendChild(node);
      document.getElementById(id).value = "";
    }
    else{

    }
  }

  <font style="color:white">
  // Calling the function: The function can be called inside the HTML.</font>
  &#60;input type="text" 
  id="<font style="color:white">SampleId_text</font>" 
  placeholder="Enter a new Person" 
  style="width:50%"&#62;

  &#60;input type="button" 
  onclick="add_new('<font style="color:white">The ID of input text element (SampleId_text)</font>',
  '<font style="color:white">The name of the list variable defines in JavaScript between "..." (sample_list)</font>', 
  '<font style="color:white">The ID of UL element (id_ul)</font>');" 
  value="<font style="color:white"></font>" style="width:10%"&#62;
  
  &#60;ul id="<font style="color:white">id_ul</font>" 
  style="font-weight: normal; text-align: left; padding:10px;"&#62;
  &#60;LH&#62;&#60;b&#62;Added non-organization People:&#60;/b&#62;&#60;/LH&#62;&#60;/ul&#62;
</code>
                  </li>

                  <li>
                    <h4>Adding Tags</h4>
                  </li>
                </ol>
          </li>
        </ul>
      </p>
    </article>
  </section>
  <section class="main-section" id="help">
    <header>Help</header>
    <article>
      <p>
        If you need help in any of the steps or find any difficulty or technical error, please contact:
        <ol>
          <li><a href="mailto:kjoseph@buffalo.edu">Kenneth Joseph</a>: for any organization related queries.</li>
          <li><a href="mailto:atri@buffalo.edu">Atri Rudra</a>: for any organization related queries.</li>
          <li><a href="mailto:prakshal@buffalo.edu">Prakshal Jain</a>: for any technical queries related to the website.</li>
          <li><a href="mailto:hopekara@buffalo.edu">Hope Kara</a>: for any technical queries related to the website.</li>
        </ol>
      </p>
    </article>
  </section>
</main>