* {
    box-sizing: border-box;
}
div {
    padding: 10px;
    background-color: transparent;
    overflow: hidden;
}
input[type=text], input[type=date], input[type=number], textarea, select {
    font: 17px Calibri;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=url], textarea, select {
    font: 17px Calibri;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=button]{ 
    font: 17px Calibri;
    width: auto;
    float: center;
    cursor: pointer;
    padding: 7px;
}

label {
padding: 4px 6px;
line-height: 190%;
outline-style: none;
transition: all .3s;
}
    
.hiddenCB div {
display: inline;
margin: 0;
padding: 0;
list-style: none;
}

.hiddenCB input[type="checkbox"],
.hiddenCB input[type="radio"] {
display: none;

}

.hiddenCB label {

cursor: pointer;
}

.hiddenCB input[type="checkbox"]+label:hover{
background: #67b0d1;
}

.hiddenCB input[type="checkbox"]:checked+label {
background: #67b0d1;
}

.hiddenCB input[type="checkbox"]:checked+label:hover{
background: #67b0d1;
}


input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
    }
input[type="date"]:focus:before,
input[type="date"]:valid:before {
content: "";
}

.sectionbutton {
    text-decoration: none;
    border-radius: 10px;
    background-color: #67b0d1;
    border: 2px solid #67b0d1;
    color: #ffffff;
    font-weight: bold;
    padding:10px;
    margin: 20px;
    text-align: center;
    transition: 0.3s;
  }
  
.sectionbutton:hover {
    background-color: transparent;
    border: 2px solid #67b0d1;
    color: #67b0d1;
}