<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/guide.css">
    <link href="https://ubacm.org/assets/ubacm.png" rel="icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{ content | markdownify }}
<script src="https://cs4sg.github.io/assets/js/main.js"></script>
</body>
</html>